<_within file="application.html">

  <div id="content">
    <div id="workspace" class="view">
      <div id="workspace-sidebar">
	<div id="sidebar-new">
	  <button id="new">New Document</button>
	  <button id="undo">Undo</button>
	  <button id="redo">Redo</button>
	</div>
	<div id="sidebar-info"></div>
	<div id="sidebar-comments"></div>
	<div id="sidebar-documents">
	  <ol></ol>
	</div>
	<div id="sidebar-people"></div>
      </div>
      <div id="workspace-editor">
	<div id="workspace-editor-field"></div>
      </div>
    </div>
  </div>

</_within>
